doctype html

- var title = "うり坊123 空間放射線量計測所";

html(lang="ja")
	head
		meta(charset="utf-8")
		title #{title}
	body
		h1 #{title}
		main
			h2 放射線量グラフ
			div
				div#controlArea
			div
				canvas#chartArea
			h2 計測地
			div
				div#mapArea
